### Dependency charts
*.tgz
.gradle
/build/
#!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.hprof
out/

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/

# System Files
.DS_Store
.directory
Thumbs.db
